body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  background-color: hsl(233, 47%, 7%);
}

.imagesection {
  width: 40%;
  margin-top: 6%;
  margin-bottom: 6%;
  background-color: hsl(277, 64%, 61%);

  display: flex;
  align-items: stretch;
}

img {
  width: 100%;
  opacity: 0.5;
}

.textsection {
  background-color: hsl(244, 38%, 16%);
  width: 30%;
  padding: 4% 5%;
  margin-top: 6%;
  margin-bottom: 6%;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color:hsl(0, 0%, 100%);
}

.highlight {
  color: hsl(277, 64%, 61%);
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5em;
  padding-bottom: 2em;
  font-size: 14px;
  margin-right: 5%;
}

.stats {
  display: inline-block;
  margin-right: 7%;
}

.statunit {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 0;
  font-size: 14px;
}

.statvalue {
  color:hsl(0, 0%, 100%);
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 0;
  line-height: 1.5em;
}

@media only screen and (max-width: 375px){
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .textsection {
    text-align: center;
    width: 70%;
    padding: 5% 5%;
    margin: auto auto 30%;
    border-radius: 0 0 15px 15px;
  }
  .imagesection {
    width: 80%;
    margin: 30% auto auto;
    border-radius: 15px 15px 0 0;
  }
  img {
    border-radius: 15px 15px 0 0;
  }
  .stats {
    display: block;
  }
  h1 {
    font-size: 1.75em;
  }
}
